
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Index";
}

<!-- Banner Area Start -->
@foreach (var item in ViewBag.Banner)
{
    <div class="banner-area-wrapper" style=" background: rgba(0, 0, 0, 0) url('~/../img/banner/@item.BannerImage') no-repeat scroll center center / cover ;
  position: relative;
  width: 100%;
  z-index: 1;">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>@item.BannerTitle</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Banner Area End -->
<!--Teacher Area Start-->
<!-- Teacher Start -->
<div class="teacher-area pt-150 pb-105">
    <div class="container">
        <div class="row" id="TeacherList">
            @await Component.InvokeAsync("Teacher", new { skip = 0, count = 12 })
        </div>
        <div class="row">
            <input type="hidden" id="TeacherCount" value="@ViewBag.TeacherCount" />
            <div class="col-12">
                <a href="#" class="btn btn-primary  teacherloadmore" style="background-color:rgb(44, 43, 99);font-size:20px;color:white;width:170px;height:50px;padding-top:10px;font-weight:bold;">Load More</a>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script>
        let count = 9;
        $(document).on("click", ".teacherloadmore", function (e) {
            let Eventcount = $("#TeacherCount").val();

            $.ajax({
                url: "/Teacher/Load?count=" + count,
                type: "Get",
                success: function (res) {
                    $("#TeacherList").append(res);

                    count += 9;
                    if (count >= Eventcount) {
                        $(".teacherloadmore").remove();
                    }
                }
            })
            e.preventDefault();

        })



    </script>


}
<!-- Teacher End -->
