@model NewManagmentBoard
@{
    ViewData["Title"] = "Update";
}
<div class="container">
    <form method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h3 class="title">Update NewManagment</h3>
                        <h3>Old Image NewManagmentBoard</h3>
                        <img src="~/img/event/@Model.Image" alt="Alternate Text" />
                    </div>
                    <div class="card-body w-100">

                        <div class="row ">
                            <div asp-validation-summary="ModelOnly" class="text-white"></div>
                            <div class="col-md-12 px-md-1">
                                <div class="form-group">
                                    <label asp-for="Name" class="ml-3"></label>
                                    <input asp-for="Name" class="form-control" placeholder="Title">
                                    <span asp-validation-for="Name"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-md-1">
                                <div class="form-group">
                                    <label asp-for="Surname"></label>
                                    <input asp-for="Surname" class="form-control" />
                                    <span asp-validation-for="Surname"></span>
                                </div>
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-12 pr-md-1">
                                <div class="form-group">
                                    <label asp-for="Position"></label>
                                    <input asp-for="Position" class="form-control" />
                                    <span asp-validation-for="Position"></span>
                                </div>
                            </div>

                        </div>


                    </div>

                    <div class="card-footer">
                        <button type="submit" class="btn btn-fill btn-primary">Update</button>
                        <a class="btn btn-primary mx-3 float-right" asp-controller="NewManagment" asp-action="Index" asp-area="AdminPanel"> Back </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-user">
                    <div class="card-body">
                        <p class="card-text">
                            <div class="author">

                                <div class="form-group d-flex flex-column">
                                    <label asp-for="PhotoSpeaker" class="h2 text-white mb-5" style="font-size:18px;"></label>
                                    <input asp-for="PhotoSpeaker" accept="image/*" class="form-control">
                                    <span asp-validation-for="PhotoSpeaker" class="text-danger"></span>
                                    <img src="~/img/AdminLogoUpload/instagram-logo.png" style="width:200px;height:200px;margin:0 auto;" id="uploadimage" alt="Alternate Text" />
                                </div>

                            </div>
                        </p>

                    </div>
                </div>

            </div>

        </div>
    </form>
</div>
@section Script{
    <partial name="_ScriptRender" />

    <script>



        let upload = document.getElementById("uploadimage");

        upload.onclick = function () {
            this.previousElementSibling.previousElementSibling.onclick();
        }





    </script>


}