@model EudoHomeChoose
@{
    ViewData["Title"] = "Index";
}


<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h2 class="card-title">EduHome Choose Table</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                                <tr class="text-center font-weight-bold">
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Settings
                                    </th>

                                </tr>
                            </thead>
                            <tbody class="text-center font-weight-bold">
                                    <tr class="text-center imagecolon">
                                        <td>
                                            <img src="~/img/slider/@Model.Image" style="width:500px;height:160px;object-fit:cover;" alt="Alternate Text" />

                                        </td>
                                        <td>
                                            @Model.Title
                                        </td>
                                        <td>
                                            @Html.Raw(Model.Description)
                                        </td>
                                        <td>
                                            <a class="btn btn-primary my-1 float-right" asp-controller="ChooseEduHome" asp-action="Update" asp-area="AdminPanel"> Update </a>
                                        </td>  
                                    </tr>
                                

                            </tbody>

                        </table>
                        <a class="btn btn-primary mx-3 float-right" asp-controller="DashBoard" asp-action="Index" asp-area="AdminPanel"> Back </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>


