
@{
    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Index";
}
<!-- Banner Area Start -->
@foreach (var item in ViewBag.Banner)
{
    <div class="banner-area-wrapper" style=" background: rgba(0, 0, 0, 0) url('~/../img/banner/@item.BannerImage') no-repeat scroll center center / cover ;
  position: relative;
  width: 100%;
  z-index: 1;">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>@item.BannerTitle</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Banner Area End -->
<!-- Course Start -->
<div class="course-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="course-title">
                    <h3>search courses</h3>
                </div>
                <div class="course-form">
                    <form id="search" action="#">
                        <input type="search" placeholder="Search..." name="search" />
                        <button type="submit">search</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="row" id="CourseList">
            @await Component.InvokeAsync("Course", 9)
        </div>
    </div>
    <div class="row">
        <input type="hidden"  id="Coursecount"  value="@ViewBag.CourseCount" />
        <div class="col-12" >
            <a href="#" class="btn btn-danger loadmore" style="background-color:rgb(204, 30, 30);font-size:20px;color:white;width:170px;height:50px;padding-top:10px;font-weight:bold;">Load More</a>
        </div>
    </div>
</div>
@section Script{ 
    <script>
        let count = 9;
        $(document).on("click", ".loadmore", function (e) {
            let Coursecount = $("#Coursecount").val();

            $.ajax({
                url: "/Course/Load?count=" + count,
                type: "Get",
                success: function (res) {
                    $("#CourseList").append(res);
                  
                    count += 9;
                    if (count >= Coursecount) {
                        $(".loadmore").remove();
                    }
                }
            })
            e.preventDefault();

        })



    </script>


}

<!-- Course End -->
