@model ChangePasswordVm
@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "ChangePassword";
}

<div class="login-area pt-150 pb-150">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <div class="login">
                    <div class="login-form-container">
                        <div class="login-text">
                            <h2>Change Password</h2>

                        </div>
                        <div asp-validation-summary="ModelOnly" class="text-danger pb-10 "></div>
                        <div class="login-form">
                            <form method="post">
                                <div class="form-group">
                                    <input asp-for="NewPassword" class="form-control form-control-lg" placeholder="NewPassword" />
                                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <input asp-for="CheckPassword" class="form-control form-control-lg" placeholder="CheckPassword" />
                                    <span asp-validation-for="CheckPassword" class="text-danger"></span>
                                </div>
                                 <input type="hidden" name="newpassworduser" value="@ViewBag.Checkemail" />
                                   


                                <div class="button-box">

                                    <input type="submit" class="default-btn"   value="New Password" />
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Script{
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    @*<script>
        $(".default-btn").click(function () {
            checkinput = $("#check").val();
            $.ajax({
                url: "/Account/ChangePassword/checkinput=" + checkinput,
                type:"Post"
            })
        })
    </script>*@

}
