
@{

    Layout = "~/Views/Shared/_Layout2.cshtml";
    ViewData["Title"] = "Index";
}
<input type="hidden" id="hidden" value="blog" />
<!-- Banner Area Start -->
@foreach (var item in ViewBag.Banner)
{
    <div class="banner-area-wrapper" style=" background: rgba(0, 0, 0, 0) url('~/../img/banner/@item.BannerImage') no-repeat scroll center center / cover ;
  position: relative;
  width: 100%;
  z-index: 1;">
        <div class="banner-area text-center">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12">
                        <div class="banner-content-wrapper">
                            <div class="banner-content">
                                <h2>@item.BannerTitle</h2>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}
<!-- Banner Area End -->
<!-- Blog Start -->
<div class="blog-area pt-150 pb-150">
    <div class="container">
        @await Component.InvokeAsync("Blog", new { skip = ViewBag.blogs, count = 9 })
        <div class="row">
            <div class="col-xs-12">
                <div class="pagination">
                    <ul>
                        @for (int i = 1; i <= ViewBag.Pagination; i++)
                        {


                            <li><a asp-controller="Blog" asp-action="Index" asp-route-page="@i">@i</a></li>


                        }

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Blog End -->
