@model IEnumerable<Slider>
@{
    ViewData["Title"] = "Index";
    int count = Model.Count();
}

<div class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="card ">
                <div class="card-header">
                    <h2 class="card-title">Slider Table</h2>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table tablesorter " id="">
                            <thead class=" text-primary">
                                <tr class="text-center font-weight-bold">
                                    <th>
                                        Image
                                    </th>
                                    <th>
                                        Title
                                    </th>
                                    <th>
                                        Description
                                    </th>
                                    <th>
                                        Settings
                                    </th>

                                </tr>
                            </thead>
                            <tbody class="text-center font-weight-bold">


                                @foreach (Slider slide in Model)
                                {

                                    <tr class="text-center imagecolon">
                                        <td>
                                            <img src="~/img/slider/@slide.Image" style="width:300px;height:120px;object-fit:cover;" alt="Alternate Text" />

                                        </td>
                                        <td>
                                            @slide.Title
                                        </td>
                                        <td>
                                            @Html.Raw(slide.Description)
                                        </td>
                                        <td>

                                            @if (count > 1)
                                            {

                                                <a class="btn btn-primary my-2 float-right deletebtn" id="@slide.Id"> Delete </a>
                                            }
                                            else
                                            {
                                                <a class="btn btn-primary my-2  float-right deletebtn" style="display:none!important"> Delete </a>
                                            }

                                            <a class="btn btn-primary my-1 float-right" asp-controller="HomePageSlider" asp-action="Update" asp-area="AdminPanel" asp-route-id="@slide.Id"> Update </a>
                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                        <a class="btn btn-primary my-1 float-right" asp-controller="HomePageSlider" asp-action="Create" asp-area="AdminPanel"> Create </a>
                        <a class="btn btn-primary mx-3 float-right" asp-controller="DashBoard" asp-action="Index" asp-area="AdminPanel"> Back </a>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
@section Script{
  
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>


    <script>
        $(document).on("click", ".deletebtn", function () {
            let Id = $(this).attr("Id");
            let self = $(this);


            swal("Are You Sure Deleted ?", {
                dangerMode: true,
                buttons: true,


            }).then(buttons => {
                if (buttons) {


                    $.ajax({

                        url: "/AdminPanel/HomePageSlider/Delete?Id=" + Id,

                        success: function (res) {

                            self.parent().parent().remove()



                        }

                    })
                }
            }
            );


        })
    </script>


}