
@{
    ViewData["Title"] = "Index";
}
<h1>DashBoard MyBacked FirstAdmin Panel </h1>
<div class="container">
    <div class="row">
        <div class="card" style="width: 18rem;">
            <div class="card-body">
                <h5 class="card-title text-center" style="color:white !important;" >User List</h5>
                <p class="card-text text-center">You can look at the users in the system and give them role.</p>
                <a asp-area="AdminPanel" asp-controller="User" asp-action="Index" class="btn btn-primary w-100">User List</a>
            </div>
        </div>
    </div>
</div>


