
@{
    ViewData["Title"] = "Index";
}
<h1 style="margin:0 auto;">EduHome Admin Panel </h1>
<div class="container">
    <div class="row" style="margin-left:50px;">
        <div class="card mt-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center" style="color:white !important;">User List</h3>
                <p class="card-text text-center">You can look at the users in the system and give them role.</p>
                <a asp-area="AdminPanel" asp-controller="User" asp-action="Index" class="btn btn-primary w-100">User List</a>
            </div>
        </div>
        <div class="card mt-3 ml-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center" style="color:white !important;">Home Page Slider</h3>
                <p class="card-text text-center">
                    You can make changes to the home page Slide in this section..
                </p>
                <a asp-area="AdminPanel" asp-controller="HomePageSlider" asp-action="Index" class="btn btn-primary w-100">Home page Slide</a>
            </div>
        </div>
        <div class="card mt-3 ml-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center" style="color:white !important;">NoticeBoard</h3>
                <p class="card-text text-center">
                    You can make changes to the  NoticeBoard  in this section..
                </p>
                <a asp-area="AdminPanel" asp-controller="NoticeBoard" asp-action="Index" class="btn btn-primary w-100">NoticeBoard Table</a>
            </div>
        </div>
    </div>
    <div class="row" style="margin-left:50px;">
        <div class="card mt-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center" style="color:white !important;">Notice Profession</h3>
                <p class="card-text text-center"> You can make changes to the  NoticeBoard Profession in this section...</p>
                <a asp-area="AdminPanel" asp-controller="NoticeProfession" asp-action="Index" class="btn btn-primary w-100">Notice Profession</a>
            </div>
        </div>
        <div class="card mt-3 ml-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center" style="color:white !important;">Why Choose Eduhome </h3>
                <p class="card-text text-center"> You can make changes to the  Choose EduHome in this section...</p>
                <a asp-area="AdminPanel" asp-controller="ChooseEduHome" asp-action="Index" class="btn btn-primary w-100">Why Choose EduHome</a>
            </div>
        </div>
        <div class="card mt-3 ml-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center" style="color:white !important;">Testimonial </h3>
                <p class="card-text text-center"> You can make changes to the  Testimonial in this section...</p>
                <a asp-area="AdminPanel" asp-controller="Testimonial" asp-action="Index" class="btn btn-primary w-100">Testimonial</a>
            </div>
        </div>

    </div>
    <div class="row" style="margin-left:50px;">
        <div class="card mt-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center" style="color:white !important;">Welcome Edu Home</h3>
                <p class="card-text text-center"> You can make changes to the  WelcomeEduHome in this section...</p>
                <a asp-area="AdminPanel" asp-controller="WelcomeToEduhome" asp-action="Index" class="btn btn-primary w-100">WelcomeEduHome</a>
            </div>
        </div>
        <div class="card mt-3 ml-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center" style="color:white !important;">Change A Video</h3>
                <p class="card-text text-center"> You can make changes to the  Video in this section...</p>
                <a asp-area="AdminPanel" asp-controller="TakeVideo" asp-action="Index" class="btn btn-primary w-100">Change Video</a>
            </div>
        </div>
        <div class="card mt-3 ml-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center" style="color:white !important;">Teacher And Skills</h3>
                <p class="card-text text-center"> You can make changes to the  Teacher and Skills in this section...</p>
                <a asp-area="AdminPanel" asp-controller="Teacher" asp-action="Index" class="btn btn-primary w-100">Teacher List</a>
            </div>
        </div>

    </div>
    <div class="row" style="margin-left:50px;">
        <div class="card mt-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center" style="color:white !important;">NewEvent Table</h3>
                <p class="card-text text-center"> You can make changes to the  NewEvent in this section...</p>
                <a asp-area="AdminPanel" asp-controller="NewEvent" asp-action="Index" class="btn btn-primary w-100">NewEvent List</a>
            </div>
        </div>
        <div class="card mt-3 ml-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center" style="color:white !important;">NewManagment Table</h3>
                <p class="card-text text-center"> You can make changes to the NewManagment in this section...</p>
                <a asp-area="AdminPanel" asp-controller="NewManagment" asp-action="Index" class="btn btn-primary w-100">NewManagment List</a>
            </div>
        </div>
        <div class="card mt-3 ml-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center" style="color:white !important;">Blog Table</h3>
                <p class="card-text text-center"> You can make changes to the Blog in this section...</p>
                <a asp-area="AdminPanel" asp-controller="Blog" asp-action="Index" class="btn btn-primary w-100">Blog List</a>
            </div>
        </div>

    </div>
    <div class="row" style="margin-left:50px;">
        <div class="card mt-3" style="width: 18rem;">
            <div class="card-body">
                <h3 class="card-title text-center" style="color:white !important;">Course Table</h3>
                <p class="card-text text-center"> You can make changes to the  Course in this section...</p>
                <a asp-area="AdminPanel" asp-controller="Course" asp-action="Index" class="btn btn-primary w-100">Course List</a>
            </div>
        </div>


    </div>
</div>


